<div class="trading-item">
    <div class="trading-left">
        <img class="image-trading" src="<%= trading.icon%>" alt="icon trading"/>
    </div>
    <div class="trading-center">
        <p><%= trading.name %> </p>
        <label><%= trading.created_at %> </label>
    </div>
    <div class="trading-right">
        <label class="description"><%= trading.amount %> </label>
    </div>
</div>
