@import url("https://use.typekit.net/zli5euh.css");

* {
  --app_color_dark_blue: #1a4675;
  --app_color_ligth_blue: #3678c2;
  --app_color_gray: #f1f3f2;
}

body {
  background-color: var(--app_color_ligth_blue);
}

.trading-container,
.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.link-center {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.center-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  margin-top: 30px;
  background-color: white;
}

.form-container {
  align-items: flex-start;
  background-color: var(--app_color_gray);
}

.new-category {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 0;
}

.category-item {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px 0;
}

.trading-item {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px 0;
}

.category-item-trading {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px 0;
}

.splash {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-category {
  width: 20%;
}

.splash_buttons {
  display: flex;
}

form button {
  margin: 20px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

.image-select {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 20px;
}

.notice {
  margin-top: 30px;
}

.row-header {
  text-align: left;
}
