<div class="transaction-container">
   <%if (@transactions.any?)%>
        <% @transactions.each do |transaction| %>
            <%= render partial: "shared/transaction_item", locals: { transaction: transaction } %>
        <% end %>        
    <% else %>
        <h5>transaction records not found!</h5>
    <% end %>
    <%= link_to "New Transaction", new_transaction_path %>
</div>
